<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>web_filter</filter-name>
        <filter-class>filter.web_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>web_filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>web_controller</servlet-name>
        <servlet-class>Controller.web_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>/registration</servlet-name>
        <jsp-file>/WEB-INF/administration/registration.jsp</jsp-file>
        <security-role-ref>
            <description/>
            <role-name>link_admin</role-name>
            <role-link>admin</role-link>
        </security-role-ref>
    </servlet>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>Controller.addUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commonPhormServlet</servlet-name>
        <servlet-class>Controller.commonPhormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>common_phorm</servlet-name>
        <servlet-class>Controller.web_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReportServlet</servlet-name>
        <servlet-class>Controller.addReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_user</servlet-name>
        <jsp-file>/WEB-INF/private/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>private_controller</servlet-name>
        <servlet-class>Controller.private_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_report</servlet-name>
        <jsp-file>/WEB-INF/private/create_report.jsp</jsp-file>
        <run-as>
            <role-name>private</role-name>
        </run-as>
        <security-role-ref>
            <description/>
            <role-name>link_private</role-name>
            <role-link>private</role-link>
        </security-role-ref>
    </servlet>
    <servlet>
        <servlet-name>logout_user</servlet-name>
        <jsp-file>/WEB-INF/views/logout_user.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>report_phorm</servlet-name>
        <servlet-class>Controller.reportPhormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>web_controller</servlet-name>
        <url-pattern>/web_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commonPhormServlet</servlet-name>
        <url-pattern>/commonPhormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>common_phorm</servlet-name>
        <url-pattern>/common_phorm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReportServlet</servlet-name>
        <url-pattern>/addReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_user</servlet-name>
        <url-pattern>/login_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>private_controller</servlet-name>
        <url-pattern>/private/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>/registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_report</servlet-name>
        <url-pattern>/create_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_user</servlet-name>
        <url-pattern>/logout_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report_phorm</servlet-name>
        <url-pattern>/report_phorm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>Настройка колонтитулов</description>
            <display-name>MyColontitul</display-name>
            <url-pattern>/WEB-INF/administration/*</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/*</url-pattern>
            <url-pattern>/WEB-INF/private/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>private_zone</display-name>
        <web-resource-collection>
            <web-resource-name>private</web-resource-name>
            <description/>
            <url-pattern>/create_report</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>private</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>admin_zone</display-name>
        <web-resource-collection>
            <web-resource-name>registration</web-resource-name>
            <description/>
            <url-pattern>/registration</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>JDBCRealmReportglonass</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/private/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/private/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>private</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
</web-app>
